@charset "ISO-8859-1";

.body{
	background-color: #2bd;
}

.matches-container{
	background-color: #2bd;
	overflow: visible;
}

.main-container{
	background-color: #25f;
	padding-bottom: 3rem;
	padding-right: 3rem;
	padding-left: 3rem;
	overflow: visible;
}

.jq-dropdown-menu{
	display: none;
}

.champions-image{
	margin-bottom: 1px;
	overflow: visible;
}

.row {
    text-align: center;
    margin-right: 0rem;
    margin-left: 0rem;
}

.header{
	text-align: center;
}