<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Improve.gg</display-name>
	<welcome-file-list>
		<welcome-file>Index.html</welcome-file>
		<welcome-file>Index.html</welcome-file>
		<welcome-file>Index.htm</welcome-file>
		<welcome-file>Index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>FindSummonerServlet</servlet-name>
		<servlet-class>controller.FindSummoner</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindSummonerServlet</servlet-name>
		<url-pattern>/findSummoner</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>CheckLogin</servlet-name>
    	<servlet-class>controller.CheckLogin</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>CheckLogin</servlet-name>
    	<url-pattern>/checkLogin</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>CheckLogout</servlet-name>
    	<servlet-class>controller.CheckLogout</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>CheckLogout</servlet-name>
    	<url-pattern>/checkLogout</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>Register</servlet-name>
    	<servlet-class>controller.Register</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>Register</servlet-name>
    	<url-pattern>/register</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>HomeServlet</servlet-name>
    	<servlet-class>controller.Home</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>HomeServlet</servlet-name>
    	<url-pattern></url-pattern>
    	<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>