@charset "ISO-8859-1";

a,
a:focus,
a:hover {
  	color: #fff;
}

.btn,
.btn:focus{
  	color: #eee;
  	text-shadow: none;
  	background-color: #2bd;
}

.btn-danger{
	
}

.navbar-dark{
	background-color: #2bd;
	color: #000;
}

.navbar-brand{
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar{
	padding-top: 8px;
	padding-bottom: 8px;
}

nav{
	background-color: #25f;
}

body {
  	color: #eee;
  	font-family: "Rockwell", Times, serif;
  	text-align: center;
  	background-color: #2bd;
}

.col-lg-4{
	margin-top: 2rem;
	padding-right: 0px;
	padding-left: 0px;
}

.first-time-user-row {
	text-align: center;
	margin-right: -6rem;
    margin-left: -6rem;
}

.rounded-circle{
	margin-bottom: 2rem;
}

.jumbotron{
	background-color: #25f;
	text-align: left;
}

.row {
    text-align: center;
    margin-right: 0rem;
    margin-left: 0rem;
}