@charset "ISO-8859-1";

a,
a:focus,
a:hover {
  	color: #fff;
}

.btn,
.btn:focus,
.btn-primary,
.btn-primary:focus,
.btn-success,
.btn-success:focus,
.btn-warning,
.btn-warning:focus,
.btn-danger,
.btn-danger:focus {
  	color: #eee;
  	text-shadow: none;
  	background-color: #bbb;
}

.navbar-dark{
	background-color: #bbb;
	color: #000;
}

nav{
	background-color: #0cd;
}

body {
  	color: #eee;
  	font-family: "Rockwell", Times, serif;
  	text-align: center;
  	background-color: #bbb;
}

.col-lg-4{
	margin-top: 2rem;
	padding-right: 0px;
	padding-left: 0px;
}

.first-time-user-row {
	text-align: center;
	margin-right: -6rem;
    margin-left: -6rem;
}

.rounded-circle{
	margin-bottom: 2rem;
}

.jumbotron{
	background-color: #0cd;
	text-align: left;
}

.row {
    text-align: center;
    margin-right: 0rem;
    margin-left: 0rem;
}

h1{
	font-size: 50px;
	color: #fff;
  	text-shadow: 0 .05rem .1rem #aaa;
}